#ss_home_hero {
  position: relative;
  left: -190px;
  box-sizing: border-box;
  width: 1560px;
  padding-left: 190px;
  padding-right: 190px;
}

#app_row {
  position: relative;
  left: -132.5px;
  box-sizing: border-box;
  width: 1445px;
  padding-left: 132.5px;
  padding-right: 132.5px;
}