*.log
wp-config.php
srpl.php
wp-snapshots/*
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/themes/polo-child/node_modules/
wp-content/themes/polo-child/gulpfile.js
wp-content/themes/polo-child/package.json
wp-content/themes/polo-child/package-lock.json
wp-content/themes/polo-child/style.css.map
wp-content/themes/polo-child/scss/.sass-cache/*
wp-content/themes/polo-child/scss/style.css
.idea/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/.sass-cache
/package-lock.json
/node_modules
/package.json
/gulpfile.js

*~
.DS_Store
wp-content/plugins/a-excited-testimonials/public/css/.sass-cache

wp-content/themes/polo/footer2.php
